#!/bin/bash

set -e

BACKUP_DIR="{{ backup_dir }}/nextcloud"
DATE=$(date +"%Y-%m-%d_%H-%M-%S")
BACKUP_PATH="$BACKUP_DIR/$DATE"

mkdir -p "$BACKUP_PATH"

echo "Starting Nextcloud backup: $DATE"

# Enable maintenance mode
docker exec nextcloud php occ maintenance:mode --on

# Backup Nextcloud files
tar -czf "$BACKUP_PATH/nextcloud-data.tar.gz" \
    -C "{{ docker_dir }}" \
    nextcloud-data

# Backup PostgreSQL database
docker exec nextcloud-db pg_dump \
    -U "{{ nextcloud_db_user }}" \
    "{{ nextcloud_db_name }}" \
    > "$BACKUP_PATH/nextcloud.sql"

# Compress database backup
gzip "$BACKUP_PATH/nextcloud.sql"

# Disable maintenance mode
docker exec nextcloud php occ maintenance:mode --off

echo "Nextcloud backup completed: $BACKUP_PATH"