https://{{ tailscale_hostname }} {
    tls /certs/{{ tailscale_hostname }}.crt /certs/{{ tailscale_hostname }}.key

    redir /vaultwarden /vaultwarden/ 308

    handle /vaultwarden/* {
        reverse_proxy vaultwarden:80
    }

    redir /paperless /paperless/ 308

    handle_path /paperless/* {
        reverse_proxy paperless-webserver:8000
    }
}