https://{{ tailscale_hostname }} {
    tls /certs/{{ tailscale_hostname }}.crt /certs/{{ tailscale_hostname }}.key
    handle_path /paperless/* {
        reverse_proxy paperless-webserver:8000
    }

    handle_path /vaultwarden/* {
        reverse_proxy vaultwarden:80
    }
}