services:
  vaultwarden:
    image: vaultwarden/server:latest
    container_name: vaultwarden
    restart: unless-stopped
    volumes:
      - ./vaultwarden-data:/data
    environment:
      - TZ={{ timezone }}
      - WEBSOCKET_ENABLED={{ vaultwarden_websocket_enabled }}
      - SIGNUPS_ALLOWED={{ vaultwarden_signups_allowed }}
      - DOMAIN=https://{{ tailscale_hostname }}/vaultwarden/
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:80/alive"]
      start_period: 10s
      interval: 120s
      timeout: 10s
      retries: 3
    networks:
      - internal

  caddy:
    image: caddy:latest
    container_name: caddy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "3001:3001"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - ./caddy-data:/data
      - ./certs:/certs
    environment:
      - TZ={{ timezone }}
    healthcheck:
      test: ["CMD", "caddy", "validate", "--config", "/etc/caddy/Caddyfile"]
      start_period: 5s
      interval: 120s
      timeout: 10s
      retries: 3
    networks:
      - internal

  adguard:
    image: adguard/adguardhome:latest
    container_name: adguard
    restart: unless-stopped
    volumes:
      - ./adguard-work:/opt/adguardhome/work
      - ./adguard-conf:/opt/adguardhome/conf
    ports:
      - "{{ adguard_dns_port }}:53/tcp"
      - "{{ adguard_dns_port }}:53/udp"
      - "{{ adguard_web_port }}:3000/tcp"
    environment:
      - TZ={{ timezone }}
    networks:
      - internal

  paperless-redis:
    image: docker.io/library/redis:7
    container_name: paperless-redis
    restart: unless-stopped
    volumes:
      - ./paperless-redis:/data
    environment:
      - TZ={{ timezone }}
    networks:
      - internal
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      start_period: 5s
      interval: 120s
      timeout: 10s
      retries: 3

  paperless-db:
    image: docker.io/library/postgres:16
    container_name: paperless-db
    restart: unless-stopped
    volumes:
      - ./paperless-db:/var/lib/postgresql/data
    environment:
      TZ: "{{ timezone }}"
      POSTGRES_DB: "{{ paperless_db_name }}"
      POSTGRES_USER: "{{ paperless_user_name }}"
      POSTGRES_PASSWORD: "{{ paperless_db_password }}"
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "pg_isready -U {{ paperless_user_name }} -d {{ paperless_db_name }}",
        ]
      start_period: 10s
      interval: 120s
      timeout: 10s
      retries: 3
    networks:
      - internal

  paperless-webserver:
    image: ghcr.io/paperless-ngx/paperless-ngx:latest
    container_name: paperless-webserver
    restart: unless-stopped
    depends_on:
      - paperless-db
      - paperless-redis
    volumes:
      - ./paperless-data:/usr/src/paperless/data
      - ./paperless-media:/usr/src/paperless/media
      - ./paperless-export:/usr/src/paperless/export
      - ./paperless-consume:/usr/src/paperless/consume
    environment:
      TZ: "{{ timezone }}"
      PAPERLESS_REDIS: redis://paperless-redis:6379
      PAPERLESS_DBHOST: paperless-db
      PAPERLESS_DBUSER: "{{ paperless_user_name }}"
      PAPERLESS_DBPASS: "{{ paperless_db_password }}"
      PAPERLESS_SECRET_KEY: "{{ paperless_secret_key }}"
      PAPERLESS_TIME_ZONE: "{{ paperless_timezone | default('America/Toronto') }}"
      PAPERLESS_URL: https://{{ tailscale_hostname }}
      PAPERLESS_FORCE_SCRIPT_NAME: /paperless
      PAPERLESS_STATIC_URL: /paperless/static/
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/paperless/api/"]
      start_period: 30s
      interval: 120s
      timeout: 10s
      retries: 3
    networks:
      - internal

  beszel:
    image: henrygd/beszel:latest
    container_name: beszel
    restart: unless-stopped
    ports:
      - "127.0.0.1:8090:8090"
    volumes:
      - ./beszel-data:/beszel_data
      - ./beszel-socket:/beszel_socket
    environment:
      TZ: "{{ timezone }}"
      APP_URL: https://{{ tailscale_hostname }}/beszel
    healthcheck:
      # The URL is relative to the container, not the host
      test: ["CMD", "/beszel", "health", "--url", "http://localhost:8090"]
      start_period: 5s
      interval: 120s
      timeout: 10s
      retries: 3
    networks:
      - internal

  beszel-agent:
    image: henrygd/beszel-agent:latest
    container_name: beszel-agent
    restart: unless-stopped
    network_mode: host
    volumes:
      - ./beszel-agent-data:/var/lib/beszel-agent
      - ./beszel-socket:/beszel_socket
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      TZ: "{{ timezone }}"
      LISTEN: /beszel_socket/beszel.sock
      HUB_URL: http://localhost:8090
      TOKEN: "{{ beszel_token }}"
      KEY: "{{ beszel_key }}"

  uptime-kuma:
    image: louislam/uptime-kuma:2
    container_name: uptime-kuma
    restart: unless-stopped
    # ports:
    #   - "127.0.0.1:3001:3001"
    volumes:
      - ./uptime-kuma-data:/app/data
    environment:
      TZ: "{{ timezone }}"
      APP_URL: https://{{ tailscale_hostname }}:3001
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3001/"]
      start_period: 30s
      interval: 120s
      timeout: 10s
      retries: 3
    networks:
      - internal

  opencloud:
    image: opencloudeu/opencloud:2
    container_name: opencloud
    restart: unless-stopped

    volumes:
      - ./opencloud-config:/etc/opencloud
      - ./opencloud-data:/var/lib/opencloud

    environment:
      TZ: "{{ timezone }}"

      OC_DOMAIN: "{{ tailscale_hostname }}"

      INITIAL_ADMIN_PASSWORD: "{{ opencloud_admin_password }}"
      OC_CONFIG_DIR: /etc/opencloud
      OC_DATA_DIR: /var/lib/opencloud

      PROXY_HTTP_ADDR: "0.0.0.0:9200"
      PROXY_TLS: "false"

      OC_JWT_SECRET: "{{ opencloud_jwt_secret }}"
      OC_TRANSFER_SECRET: "{{ opencloud_transfer_secret }}"

      OC_URL: "https://{{ tailscale_hostname }}:9200"

    networks:
      - internal

networks:
  internal:
    driver: bridge

  # nextcloud-db:
  #   image: postgres:16
  #   container_name: nextcloud-db
  #   restart: unless-stopped
  #   environment:
  #     POSTGRES_DB: "{{ nextcloud_db_name }}"
  #     POSTGRES_USER: "{{ nextcloud_db_user }}"
  #     POSTGRES_PASSWORD: "{{ nextcloud_db_password }}"
  #     TZ: "{{ timezone }}"
  #   volumes:
  #     - ./nextcloud-db:/var/lib/postgresql/data
  #   healthcheck:
  #     test:
  #       [
  #         "CMD-SHELL",
  #         "pg_isready -U {{ nextcloud_db_user }} -d {{ nextcloud_db_name }}",
  #       ]
  #     start_period: 10s
  #     interval: 120s
  #     timeout: 10s
  #     retries: 3
  #   networks:
  #     - internal

  # nextcloud-redis:
  #   image: redis:7-alpine
  #   container_name: nextcloud-redis
  #   restart: unless-stopped
  #   environment:
  #     TZ: "{{ timezone }}"
  #   volumes:
  #     - ./nextcloud-redis:/data
  #   healthcheck:
  #     test: ["CMD", "redis-cli", "ping"]
  #     start_period: 5s
  #     interval: 120s
  #     timeout: 10s
  #     retries: 3
  #   networks:
  #     - internal

  # nextcloud:
  #   image: nextcloud:latest
  #   restart: unless-stopped
  #   depends_on:
  #     - nextcloud-db
  #     - nextcloud-redis
  #   volumes:
  #     - ./nextcloud-data:/var/www/html
  #   environment:
  #     TZ: "{{ timezone }}"
  #     POSTGRES_HOST: nextcloud-db
  #     POSTGRES_DB: nextcloud
  #     POSTGRES_USER: nextcloud
  #     POSTGRES_PASSWORD: "{{ nextcloud_db_password }}"
  #     REDIS_HOST: nextcloud-redis

  #     NEXTCLOUD_TRUSTED_DOMAINS: "{{ tailscale_hostname }}"
  #     OVERWRITEHOST: "{{ tailscale_hostname }}"
  #     OVERWRITEPROTOCOL: https
  #     OVERWRITEWEBROOT: /nextcloud
  #     OVERWRITECLIURL: "https://{{ tailscale_hostname }}/nextcloud"
  #   healthcheck:
  #     test: ["CMD", "curl", "-f", "http://localhost/status.php"]
  #     start_period: 30s
  #     interval: 120s
  #     timeout: 10s
  #     retries: 3
  #   networks:
  #     - internal
